.container {
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  direction: rtl;
}
.inner {
  padding: 12px 16px;
  display: inline-block;
}
.cal {
  display: flex;
}
.row {
  display: flex;
  flex-direction: column-reverse;
}
.cell {
  width: 12px;
  height: 12px;
  background: #ebedf0;
  border-right: solid 2px #fff;
  border-bottom: solid 2px #fff;
}

.cell0 {
  background: #ebedf0;
}

.cell1 {
  background: #c6e48b;
}

.cell2 {
  background: #7bc96f;
}

.cell3 {
  background: #239a3b;
}

.cell4 {
  background: #196127;
}